.Meaning {
  background: rgba(113, 58, 18, 0.8);
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
}

.Meaning ul {
  list-style: none;
  font-size: 18px;
}

.Meaning li::first-letter {
  text-transform: capitalize;
}
