.Meaning {
  background: rgba(113, 58, 18, 0.8);
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
}

.Meaning h5 {
  font-size: 22px;
  font-weight: 900;
}

.Meaning p {
  font-size: 18px;
  margin: 0;
}

.Meaning p::first-letter {
  text-transform: capitalize;
}

@media (max-width: 600px) {
  .Meaning p {
    font-size: 14px;
  }
}
