.Results {
  margin: 30px;
  padding: 20px;
  border-radius: 3px;
  background: rgba(113, 58, 18, 0.8);
  color: rgb(156, 147, 154);
}

.Results h3 {
  font-weight: 900;
  font-size: 66px;
  margin: 0;
  line-height: 1;
}

.Results h4 {
  font-weight: 900;
}

@media (max-width: 480px) {
  .Results {
    margin: 10px;
  }

  .Results h3 {
    font-size: 33px;
    text-align: center;
  }

  .Results h4 {
    font-size: 18px;
    text-align: center;
  }
}
